@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&family=Fira+Sans&display=swap');

header {
  background-color: rgb(250, 250, 250);
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  display: flex;
  align-items: center;
  justify-items: center;

  .title a {
    font-family: 'Baloo 2';
    font-size: 30px;
    color: black;
    text-decoration: none;
  }
  .search {
    margin-left: 40px;
    input {
      background-color: rgb(238, 238, 238);
      padding: 5px;
      border: none
    }
  }
  nav {
    margin-left: auto; 
    display: flex;
    align-self: center;
    justify-items: center;
    a {
      margin-left: 20px;
      color: black;
      text-decoration: none;
      font-family: 'Fira Sans', Arial, sans-serif;
      font-size: 15px;
      white-space: nowrap;
    }
    a:hover {
      color: grey;
    }
    .curr {
      font-weight: bold;
    }
  }
}

@media only screen and (max-width: 645px) {
  header {
    flex-direction: column;
  }
  header nav {
    margin: auto;
    margin-top: 25px
  }
}